<!DOCTYPE html>
<html>
    <head>
     <link rel="stylesheet" type="text/css" href="style.css" >
     <meta charset="UTF-8">
    </head>
    <body>
        <main class="main__wrapper">
		                  <ol>
                        <li>
                            <article class="item">
                                    <div class="item__wrapper"> 
                                        <div class="item__image-area">
                                            <img src="http://imgcy.trivago.com/c_lfill,d_dummy.jpeg,e_sharpen:60,f_auto,h_225,q_auto,w_225/itemimages/97/94/97940_v4.jpeg" height="180px" width="180px"/>
                                        </div>
                                        <div class="item__flex-column">
                                            <div class="item__details">
                                                <div class="item__name">
                                                    <h3 class="m-0">
                                                        <span class="item_link">
                                                                Barcelo palmeraie
                                                        </span>
                                                    </h3>
                                                    <div class="stars-badges">
                                                        <div class="stars__wrap">
                                                            <span class="icon-ic star">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                        <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                    </svg>
                                                            </span>
                                                            <span class="icon-ic star">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                        <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                    </svg>
                                                            </span>
                                                            <span class="icon-ic star">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                        <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                    </svg>
                                                            </span>
                                                            <span class="icon-ic star">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                        <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                    </svg>
                                                            </span>
                                                            <span class="icon-ic star">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                        <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                    </svg>
                                                            </span>

                                                        </div>
                                                        <span class="item__accomodation_type">
                                                            Villages vacances
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="item__location">
                                                    <p class="item__details-paragraph">
                                                            Marrakech, à 0.5 km de : Aéroport de Marrakech-Ménara
                                                    </p>
                                                </div>
                                                <button type="button" class="reviews">
                                                    <span class="item__review">
                                                        <span class="rating-pill">
                                                            <span class="rating-value">8.1</span>
                                                            
                                                        </span>
                                                        <span class="item__rating-details">
                                                                <strong class="item__rating-mention">Très bien </strong>
                                                                (1871 avis)

                                                        </span>

                                                    </span>
                                                    <span class="reviews__attributes">
                                                            Édifice en très bon état (8.4 / 10) 
                                                    </span>
                                                </button>
                                                


                                            </div>
                                            <section class="item__deal-other">
                                                <ul class="other-deals__top-alt">
                                                    <li class="other-deal__list">
                                                        <button type="button" class="other-deal__offer button">
                                                            <span class="deal-other__advertiser">
                                                              roomsXXL.fr
                                                              <strong class="deals__price" >149€</strong>
                                                            </span>
                                                           
                                                        </button>
                                                    </li>

                                                    <li class="other-deal__list">
                                                            <button type="button" class="other-deal__offer button">
                                                                <span class="deal-other__advertiser">
                                                                    loveholidays
                                                                    <strong class="deals__price" >135€</strong>
                                                                </span>
                                                               
                                                            </button>
                                                    </li>

                                                    <li class="other-deal__list">
                                                            <button type="button" class="other-deal__offer button">
                                                                <span class="deal-other__advertiser">
                                                                    Traventia
                                                                
                                                                     <strong class="deals__price" >139€</strong>
                                                                </span>
                                                            </button>
                                                    </li>
                                                </ul>
                                                <button type="button" class="other-deals__more-alt button ">
                                                        Prix à partir de ‎134€     
                                                        <span class="icon-ic ml-gutter-quarter" >
                                                            <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="10" height="6" viewBox="0 0 10 6">
                                                                <path class="svg-color--primary" d="M0 1A.999.999 0 0 1 1.707.293L5 3.586 8.293.293a.999.999 0 1 1 1.414 1.414l-4 4a.999.999 0 0 1-1.414 0l-4-4A.997.997 0 0 1 0 1" fill="#37454D" fill-rule="evenodd">
                                                                </path>
                                                            </svg>
                                                        </span>
                                                </button>

                                            </section>




















                                            <section class="item__deal-best">
                                                <div class="item__best-link">
                                                    <div class="item__best-detail">

                                                       
                                                       <span class="item__best-price">
                                                           <em class="s-12px">Amoma.com</em>
                                                           <strong>150€</strong>
                                                           <em class="deal__6-nights"> 6 nuits pour 
                                                               <span class="s-12px">902€‎</span>
                                                           </em>
                                                       </span>

                                                    </div>
                                                    <div class="deal__wrapper">
                                                        <p class="s-12px">Petit-déjeuner gratuit </p>
                                                        <button type="button" class="btn__deal">
                                                            <span class="btn__deal__visit">Voir l'offre  ></span>   
                                                        
                                                            
                                                        </button>
                                                    </div>

                                                </div>
                                            </section>



                                        </div>
                        
                                    </div>
                                    <div class="item__slideout">
                        
                                    </div>
                                </article>   
                        </li>

                        <li>
                                <article class="item">
                                        <div class="item__wrapper"> 
                                            <div class="item__image-area">
                                                <img src="http://imgcy.trivago.com/c_lfill,d_dummy.jpeg,e_sharpen:60,f_auto,h_225,q_auto,w_225/itemimages/97/94/97940_v4.jpeg" height="180px" width="180px"/>
                                            </div>
                                            <div class="item__flex-column">
                                                <div class="item__details">
                                                    <div class="item__name">
                                                        <h3 class="m-0">
                                                            <span class="item_link">
                                                                    Barcelo palmeraie
                                                            </span>
                                                        </h3>
                                                        <div class="stars-badges">
                                                            <div class="stars__wrap">
                                                                <span class="icon-ic star">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                            <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                        </svg>
                                                                </span>
                                                                <span class="icon-ic star">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                            <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                        </svg>
                                                                </span>
                                                                <span class="icon-ic star">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                            <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                        </svg>
                                                                </span>
                                                                <span class="icon-ic star">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                            <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                        </svg>
                                                                </span>
                                                                <span class="icon-ic star">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                            <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                        </svg>
                                                                </span>
    
                                                            </div>
                                                            <span class="item__accomodation_type">
                                                                Villages vacances
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="item__location">
                                                        <p class="item__details-paragraph">
                                                                Marrakech, à 0.5 km de : Aéroport de Marrakech-Ménara
                                                        </p>
                                                    </div>
                                                    <button type="button" class="reviews">
                                                        <span class="item__review">
                                                            <span class="rating-pill">
                                                                <span class="rating-value">8.1</span>
                                                                
                                                            </span>
                                                            <span class="item__rating-details">
                                                                    <strong class="item__rating-mention">Très bien </strong>
                                                                    (1871 avis)
    
                                                            </span>
    
                                                        </span>
                                                        <span class="reviews__attributes">
                                                                Édifice en très bon état (8.4 / 10) 
                                                        </span>
                                                    </button>
                                                    
    
    
                                                </div>
                                                <section class="item__deal-other">
                                                    <ul class="other-deals__top-alt">
                                                        <li class="other-deal__list">
                                                            <button type="button" class="other-deal__offer button">
                                                                <span class="deal-other__advertiser">
                                                                  roomsXXL.fr
                                                                  <strong class="deals__price" >149€</strong>
                                                                </span>
                                                               
                                                            </button>
                                                        </li>
    
                                                        <li class="other-deal__list">
                                                                <button type="button" class="other-deal__offer button">
                                                                    <span class="deal-other__advertiser">
                                                                        loveholidays
                                                                        <strong class="deals__price" >135€</strong>
                                                                    </span>
                                                                   
                                                                </button>
                                                        </li>
    
                                                        <li class="other-deal__list">
                                                                <button type="button" class="other-deal__offer button">
                                                                    <span class="deal-other__advertiser">
                                                                        Traventia
                                                                    
                                                                         <strong class="deals__price" >139€</strong>
                                                                    </span>
                                                                </button>
                                                        </li>
                                                    </ul>
                                                    <button type="button" class="other-deals__more-alt button ">
                                                            Prix à partir de ‎134€     
                                                            <span class="icon-ic ml-gutter-quarter" >
                                                                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="10" height="6" viewBox="0 0 10 6">
                                                                    <path class="svg-color--primary" d="M0 1A.999.999 0 0 1 1.707.293L5 3.586 8.293.293a.999.999 0 1 1 1.414 1.414l-4 4a.999.999 0 0 1-1.414 0l-4-4A.997.997 0 0 1 0 1" fill="#37454D" fill-rule="evenodd">
                                                                    </path>
                                                                </svg>
                                                            </span>
                                                    </button>
    
                                                </section>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
                                                <section class="item__deal-best">
                                                    <div class="item__best-link">
                                                        <div class="item__best-detail">
    
                                                           <span class="item__worst-price">
                                                               <em class="s-12px"> booking.com</em>
                                                               <s class="s-16px">220€</s>
                                                           </span>
                                                           <span class="item__best-price">
                                                               <em class="s-12px">Amoma.com</em>
                                                               <strong>150€</strong>
                                                               <em class="deal__6-nights"> 6 nuits pour 
                                                                   <span class="s-12px">902€‎</span>
                                                               </em>
                                                           </span>
    
                                                        </div>
                                                        <div class="deal__wrapper">
                                                            <p class="s-12px">Petit-déjeuner gratuit </p>
                                                            <button type="button" class="btn__deal">
                                                                <span class="btn__deal__visit">Voir l'offre  ></span>   
                                                            
                                                                
                                                            </button>
                                                        </div>
    
                                                    </div>
                                                </section>
    
    
    
                                            </div>
                            
                                        </div>
                                        <div class="item__slideout">
                            
                                        </div>
                                    </article>   
                            </li>




















                            <li>
                                    <article class="item">
                                            <div class="item__wrapper"> 
                                                <div class="item__image-area">
                                                    <img src="http://imgcy.trivago.com/c_lfill,d_dummy.jpeg,e_sharpen:60,f_auto,h_225,q_auto,w_225/itemimages/97/94/97940_v4.jpeg" height="180px" width="180px"/>
                                                </div>
                                                <div class="item__flex-column">
                                                    <div class="item__details">
                                                        <div class="item__name">
                                                            <h3 class="m-0">
                                                                <span class="item_link">
                                                                        Barcelo palmeraie
                                                                </span>
                                                            </h3>
                                                            <div class="stars-badges">
                                                                <div class="stars__wrap">
                                                                    <span class="icon-ic star">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                                <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                            </svg>
                                                                    </span>
                                                                    <span class="icon-ic star">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                                <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                            </svg>
                                                                    </span>
                                                                    <span class="icon-ic star">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                                <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                            </svg>
                                                                    </span>
                                                                    <span class="icon-ic star">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                                <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                            </svg>
                                                                    </span>
                                                                    <span class="icon-ic star">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                                <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                            </svg>
                                                                    </span>
        
                                                                </div>
                                                                <span class="item__accomodation_type">
                                                                    Villages vacances
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="item__location">
                                                            <p class="item__details-paragraph">
                                                                    Marrakech, à 0.5 km de : Aéroport de Marrakech-Ménara
                                                            </p>
                                                        </div>
                                                        <button type="button" class="reviews">
                                                            <span class="item__review">
                                                                <span class="rating-pill">
                                                                    <span class="rating-value">8.1</span>
                                                                    
                                                                </span>
                                                                <span class="item__rating-details">
                                                                        <strong class="item__rating-mention">Très bien </strong>
                                                                        (1871 avis)
        
                                                                </span>
        
                                                            </span>
                                                            <span class="reviews__attributes">
                                                                    Édifice en très bon état (8.4 / 10) 
                                                            </span>
                                                        </button>
                                                        
        
        
                                                    </div>
                                                    <section class="item__deal-other">
                                                        <ul class="other-deals__top-alt">
                                                            <li class="other-deal__list">
                                                                <button type="button" class="other-deal__offer button">
                                                                    <span class="deal-other__advertiser">
                                                                      roomsXXL.fr
                                                                      <strong class="deals__price" >149€</strong>
                                                                    </span>
                                                                   
                                                                </button>
                                                            </li>
        
                                                            <li class="other-deal__list">
                                                                    <button type="button" class="other-deal__offer button">
                                                                        <span class="deal-other__advertiser">
                                                                            loveholidays
                                                                            <strong class="deals__price" >135€</strong>
                                                                        </span>
                                                                       
                                                                    </button>
                                                            </li>
        
                                                            <li class="other-deal__list">
                                                                    <button type="button" class="other-deal__offer button">
                                                                        <span class="deal-other__advertiser">
                                                                            Traventia
                                                                        
                                                                             <strong class="deals__price" >139€</strong>
                                                                        </span>
                                                                    </button>
                                                            </li>
                                                        </ul>
                                                        <button type="button" class="other-deals__more-alt button ">
                                                                Prix à partir de ‎134€     
                                                                <span class="icon-ic ml-gutter-quarter" >
                                                                    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="10" height="6" viewBox="0 0 10 6">
                                                                        <path class="svg-color--primary" d="M0 1A.999.999 0 0 1 1.707.293L5 3.586 8.293.293a.999.999 0 1 1 1.414 1.414l-4 4a.999.999 0 0 1-1.414 0l-4-4A.997.997 0 0 1 0 1" fill="#37454D" fill-rule="evenodd">
                                                                        </path>
                                                                    </svg>
                                                                </span>
                                                        </button>
        
                                                    </section>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
                                                    <section class="item__deal-best">
                                                        <div class="item__best-link">
                                                            <div class="item__best-detail">
        
                                                               <span class="item__worst-price">
                                                                   <em class="s-12px"> booking.com</em>
                                                                   <s class="s-16px">220€</s>
                                                               </span>
                                                               <span class="item__best-price">
                                                                   <em class="s-12px">Amoma.com</em>
                                                                   <strong>150€</strong>
                                                                   <em class="deal__6-nights"> 6 nuits pour 
                                                                       <span class="s-12px">902€‎</span>
                                                                   </em>
                                                               </span>
        
                                                            </div>
                                                            <div class="deal__wrapper">
                                                                <p class="s-12px">Petit-déjeuner gratuit </p>
                                                                <button type="button" class="btn__deal">
                                                                    <span class="btn__deal__visit">Voir l'offre  ></span>   
                                                                
                                                                    
                                                                </button>
                                                            </div>
        
                                                        </div>
                                                    </section>
        
        
        
                                                </div>
                                
                                            </div>
                                            <div class="item__slideout">
                                
                                            </div>
                                        </article>   
                                </li>


   



                                <li>
                                        <article class="item">
                                                <div class="item__wrapper"> 
                                                    <div class="item__image-area">
                                                        <img src="http://imgcy.trivago.com/c_lfill,d_dummy.jpeg,e_sharpen:60,f_auto,h_225,q_auto,w_225/itemimages/97/94/97940_v4.jpeg" height="180px" width="180px"/>
                                                    </div>
                                                    <div class="item__flex-column">
                                                        <div class="item__details">
                                                            <div class="item__name">
                                                                <h3 class="m-0">
                                                                    <span class="item_link">
                                                                            Barcelo palmeraie
                                                                    </span>
                                                                </h3>
                                                                <div class="stars-badges">
                                                                    <div class="stars__wrap">
                                                                        <span class="icon-ic star">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                                    <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                                </svg>
                                                                        </span>
                                                                        <span class="icon-ic star">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                                    <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                                </svg>
                                                                        </span>
                                                                        <span class="icon-ic star">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                                    <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                                </svg>
                                                                        </span>
                                                                        <span class="icon-ic star">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                                    <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                                </svg>
                                                                        </span>
                                                                        <span class="icon-ic star">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="12" height="12" viewBox="0 0 12 12">
                                                                                    <path class="svg-color--primary" fill="#F6AB3F" d="M11.988 5.21c-.052-.275-.27-.488-.545-.534l-3.604-.6L6.63.455C6.542.184 6.287 0 6 0s-.542.184-.632.456L4.16 4.076l-3.603.6c-.275.046-.493.26-.545.533-.052.273.072.55.312.695L3.2 7.63l-1.165 3.493c-.093.28.01.59.25.758.115.08.25.12.382.12.148 0 .295-.05.416-.146L6 9.52l2.917 2.333c.12.098.27.147.416.147.133 0 .267-.04.38-.12.244-.17.346-.478.252-.758L8.8 7.63l2.876-1.725c.24-.144.364-.422.312-.696z"></path>
                                                                                </svg>
                                                                        </span>
            
                                                                    </div>
                                                                    <span class="item__accomodation_type">
                                                                        Villages vacances
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="item__location">
                                                                <p class="item__details-paragraph">
                                                                        Marrakech, à 0.5 km de : Aéroport de Marrakech-Ménara
                                                                </p>
                                                            </div>
                                                            <button type="button" class="reviews">
                                                                <span class="item__review">
                                                                    <span class="rating-pill">
                                                                        <span class="rating-value">8.1</span>
                                                                        
                                                                    </span>
                                                                    <span class="item__rating-details">
                                                                            <strong class="item__rating-mention">Très bien </strong>
                                                                            (1871 avis)
            
                                                                    </span>
            
                                                                </span>
                                                                <span class="reviews__attributes">
                                                                        Édifice en très bon état (8.4 / 10) 
                                                                </span>
                                                            </button>
                                                            
            
            
                                                        </div>
                                                        <section class="item__deal-other">
                                                            <ul class="other-deals__top-alt">
                                                                <li class="other-deal__list">
                                                                    <button type="button" class="other-deal__offer button">
                                                                        <span class="deal-other__advertiser">
                                                                          roomsXXL.fr
                                                                          <strong class="deals__price" >149€</strong>
                                                                        </span>
                                                                       
                                                                    </button>
                                                                </li>
            
                                                                <li class="other-deal__list">
                                                                        <button type="button" class="other-deal__offer button">
                                                                            <span class="deal-other__advertiser">
                                                                                loveholidays
                                                                                <strong class="deals__price" >135€</strong>
                                                                            </span>
                                                                           
                                                                        </button>
                                                                </li>
            
                                                                <li class="other-deal__list">
                                                                        <button type="button" class="other-deal__offer button">
                                                                            <span class="deal-other__advertiser">
                                                                                Traventia
                                                                            
                                                                                 <strong class="deals__price" >139€</strong>
                                                                            </span>
                                                                        </button>
                                                                </li>
                                                            </ul>
                                                            <button type="button" class="other-deals__more-alt button ">
                                                                    Prix à partir de ‎134€     
                                                                    <span class="icon-ic ml-gutter-quarter" >
                                                                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="10" height="6" viewBox="0 0 10 6">
                                                                            <path class="svg-color--primary" d="M0 1A.999.999 0 0 1 1.707.293L5 3.586 8.293.293a.999.999 0 1 1 1.414 1.414l-4 4a.999.999 0 0 1-1.414 0l-4-4A.997.997 0 0 1 0 1" fill="#37454D" fill-rule="evenodd">
                                                                            </path>
                                                                        </svg>
                                                                    </span>
                                                            </button>
            
                                                        </section>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                                                        <section class="item__deal-best">
                                                            <div class="item__best-link">
                                                                <div class="item__best-detail">
            
                                                                   <span class="item__worst-price">
                                                                       <em class="s-12px"> booking.com</em>
                                                                       <s class="s-16px">220€</s>
                                                                   </span>
                                                                   <span class="item__best-price">
                                                                       <em class="s-12px">Amoma.com</em>
                                                                       <strong>150€</strong>
                                                                       <em class="deal__6-nights"> 6 nuits pour 
                                                                           <span class="s-12px">902€‎</span>
                                                                       </em>
                                                                   </span>
            
                                                                </div>
                                                                <div class="deal__wrapper">
                                                                    <p class="s-12px">Petit-déjeuner gratuit </p>
                                                                    <button type="button" class="btn__deal">
                                                                        <span class="btn__deal__visit">Voir l'offre  ></span>   
                                                                    
                                                                        
                                                                    </button>
                                                                </div>
            
                                                            </div>
                                                        </section>
            
            
            
                                                    </div>
                                    
                                                </div>
                                                <div class="item__slideout">
                                    
                                                </div>
                                            </article>   
                                    </li>




























                    </ol>
             
	   </main>
       
        
    </body>
</html>